<html>
    <title><%= title %></title>
    <%- partial('shared/head') %>
    <%- partial(customAssets) %>

    <body>
      <%- partial('shared/header') %>
      <%- partial(appBody) %>
    </body>

</html>
