<html>
    <title><%= title %></title>
    <%- partial('shared/head') %>
    <% if(assets){ %>
      <%- partial(assets) %>
    <% } %>

    <body>
      <%- partial('shared/header') %>
      <%- partial(body) %>
    </body>

</html>
